html {
    scroll-behavior: smooth;
  }
  
#logo {
    height: 75px;
}

.logoImg {
    position: relative;
    width: 80px;
    height: 80px;
    top: -25px;
}

header {
    margin-bottom: 2px;
}

.rev_slider li {
    background-color: #000;
}

.rev_slider li img {
    opacity: 0.6;
}

a:hover {
    text-decoration: none;
}

h1 {
    position: relative;
    top: -20px;
    font-size: 40px;
    color: #0e337c;
}

h1:hover, h3:hover {
    text-decoration: none;
    transition: all 0.5s;
    color: #576fa1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}